{
    "development": {
        "enableDocs": true,
        "username": "admin",
        "password": "admin",
        "database": "api",
        "host": "127.0.0.1",
        "port": 5432,
        "dialect": "postgres",
        "mail": {
            "sendgridApiKey": "",
            "host": "127.0.0.1",
            "port": "1025",
            "secure": false,
            "auth": {
                "user": "username",
                "pass": "password"
            }
        },
        "jwt": {
            "secret": "verySecretValue"
        },
        "frontendUrls": [
            "localhost:4200"
        ],
        "noReplyAddress": "no-reply@localhost"
    },
    "test": {
        "enableDocs": false,
        "username": "admin",
        "password": "admin",
        "database": "api_test",
        "host": "127.0.0.1",
        "port": 5433,
        "dialect": "postgres",
        "logging": false,
        "mail": {
            "sendgridApiKey": "",
            "host": "127.0.0.1",
            "port": "1025",
            "secure": false,
            "auth": {
                "user": "username",
                "pass": "password"
            }
        },
        "jwt": {
            "secret": "verySecretValue"
        },
        "frontendUrls": [
            "localhost:4200"
        ],
        "noReplyAddress": "no-reply@localhost"
    },
    "production": {
        "enableDocs": true,
        "username": "admin",
        "password": "admin",
        "database": "api_prod",
        "host": "127.0.0.1",
        "port": 5432,
        "dialect": "postgres",
        "mail": {
            "sendgridApiKey": "",
            "host": "127.0.0.1",
            "port": "1025",
            "secure": false,
            "auth": {
                "user": "username",
                "pass": "password"
            }
        },
        "jwt": {
            "secret": "verySecretValue"
        },
        "frontendUrls": [
            "http://angular7-demo.rmtcfm.com",
            "https://vue-vuex-vuetify-demo.rmtcfm.com"
        ],
        "noReplyAddress": "no-reply@rmtcfm.com"
    }
}
