{
    "development": {
        "username": "admin",
        "password": "admin",
        "database": "api",
        "host": "127.0.0.1",
        "port": 5432,
        "dialect": "postgres",
        "mail": {
            "sendgridApiKey": "",
            "host": "127.0.0.1",
            "port": "1025",
            "secure": false,
            "auth": {
                "user": "username",
                "pass": "password"
            }
        },
        "jwt": {
            "secret": "verySecretValue"
        },
        "frontendUrl": "localhost:4200",
        "noReplyAddress": "no-reply@remotecraftsmen.com"
    },
    "test": {
        "username": "admin",
        "password": "admin",
        "database": "api_test",
        "host": "127.0.0.1",
        "port": 5432,
        "dialect": "postgres",
        "logging": false,
        "mail": {
            "sendgridApiKey": "",
            "host": "127.0.0.1",
            "port": "1025",
            "secure": false,
            "auth": {
                "user": "username",
                "pass": "password"
            }
        },
        "jwt": {
            "secret": "verySecretValue"
        },
        "frontendUrl": "localhost:4200",
        "noReplyAddress": "no-reply@remotecraftsmen.com"
    },
    "production": {
        "username": "admin",
        "password": "admin",
        "database": "api_prod",
        "host": "127.0.0.1",
        "port": 5432,
        "dialect": "postgres",
        "mail": {
            "sendgridApiKey": "",
            "host": "127.0.0.1",
            "port": "1025",
            "secure": false,
            "auth": {
                "user": "username",
                "pass": "password"
            }
        },
        "jwt": {
            "secret": "verySecretValue"
        },
        "frontendUrl": "http://angular7-demo.rmtcfm.com",
        "noReplyAddress": "no-reply@remotecraftsmen.com
    }
}
